
**/.git
composer/*.phar
composer/cache
composer/vendor/*
composer/*.lock
config/*/*/node_modules
config/coc/*
config/gcloud/*
config/gcloud/logs/*
config/yarn/*
config/btop/btop.log
config/configstore
config/gh/hosts.yml
config/lab/lab.toml
config/op
docksal/bin
docksal/certs
docksal/downloads
eslint_vim_setup/node_modules
fzf/.git/*
fzf
npm/*
local/*
nvim_debug_adaptor/vscode-php-debug
vim/plugged/*
..bfg-report
lazy-lock.json
MakeMKV/*
DS_Store
lesshst
bash_history
z
DS_Store
cursor/*
bash_sessions/*
go/*
cache/*
terminus/*
colima/*
docker/*
rustup/*
cargo/*
nvm/*
mutagen/*
vscode/*
vscode-oss/*
cups/*
!cups/.save
