# TMUX Monitor Configuration For NADCP
split-window -v -l 10 "fin logs -f -t --no-log-prefix web"
split-window -h "fin drush watchdog:tail"
select-pane -U
split-window -v -l 10 'mutagen sync monitor -l'
split-window -h -c ../cube-page 'fin exec "npm i && npm run watch"'
split-window -h -l 150 "docker stats"
