# TMUX Configuration EDITING Setup
source ~/.tmux.conf

new-session -n tmux_config -s tmux_config

#row 1 drush tail
#split-window -v mm_mon -c $PD/setup/mm_mon_command.config -t 20 -cc1
rename-window 'Sys-Log-Tail'
split-window -v "ssh mti.local"
send-keys "drush ws --tail --sleep-delay=1" C-m

#row 2 message tail
select-pane -U
send-keys "ssh mti.local" C-m
send-keys "sudo tail -f /var/log/messages" C-m

# Encore / PAL logs
new-window -n 'PAL'
send-keys "mm_mon -c $TMUX_PD/mm_mon_command.config -cc9" C-m 
split-window -h 
send-keys "mm_mon -c $TMUX_PD/mm_mon_command.config -cc10" C-m

# Drupal Queue Watcher / Runner
split-window -h
send-keys "mm_mon -c $TMUX_PD/mm_mon_command.config -cc11 -t 10" C-m
split-window -v
send-keys "mm_mon -c $TMUX_PD/mm_mon_command.config -cc12 -t 40" C-m

new-window -n 'compass-sync'
# bitbutcket 
#send-keys "mm_mon -c $PD/setup/mmm/mm_mon_command.config -t 20 -cc3" C-m

# rsync
send-keys "mm_mon -c $PD/setup/mmm/mm_mon_command.config -cc6" C-m
split-window -v

# compass watch
send-keys "ssh mti.local" C-m
send-keys "grunt watch-theme" C-m

# jira
#split-window -h mm_mon -c $PD/setup/mmm/mm_mon_command.config -t 30 -cc4 

new-window -n 'EDITOR' -c ~/work/Phase2/mti "newday"
new-window -n 'MTI_VM' "ssh mti.local"
