name: Auto Version Bump

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release (e.g. 0.3.0)"
        required: true

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Update VERSION
        run: echo "${{ github.event.inputs.version }}" > VERSION

      - name: Compute SHA
        run: |
          VERSION=${{ github.event.inputs.version }}
          URL="https://github.com/danshumaker/homebrew-denver/archive/refs/tags/${VERSION}.tar.gz"
          curl -L "$URL" -o archive.tar.gz
          SHA=$(shasum -a 256 archive.tar.gz | awk '{print $1}')

          sed -i "s/sha256 \".*\"/sha256 \"${SHA}\"/" Formula/denve.rb

      - name: Commit + Tag
        run: |
          VERSION=${{ github.event.inputs.version }}
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add VERSION Formula/denver.rb
          git commit -m "Release ${VERSION}"
          git tag "${VERSION}"
          git push origin main --tags
